.icon-button {
  background-color: transparent;
  height: 45px;
  width: 45px;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  border: #ffffff solid 1px;
  color: #ffffff;
  transition: 0.5s ease;
  vertical-align: middle;
  line-height: 20px;
}
.icon-button:hover {
  background-color: #a53732;
  border: #a53732 solid 1px;
}
.globalbutton {
  border: none;
  background-color: #bb3e37;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  padding: 14px 16px;
  text-transform: uppercase;
}
.globalbutton:hover {
  background-color: #a53732;
}
